<div class="row mb-3">
  <div class="col-md-6 mx-auto">
    <div class="card card-body">
      <h3 class="text-center">Iscriviti</h3>
      <form action="/auth/registrazione" method="post">
      <div class="form-group">
        <label for="ruolo">Sono un:</label>
        <select name="ruolo" id="ruolo">
        <option value="utente">Utente</option>
        <option value="gestore">Gestore</option>
        </select>
      </div>
        <div class="form-group">
          <label for="Nome">Nome</label>
          <input type="text" name="nome" class="form-control" value="{{nome}}" required>
        </div>
        <div  class="form-group">
          <label for="Cognome">Cognome</label>
          <input type="text" name="cognome" class="form-control" value="{{cognome}}" required>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" name="email" class="form-control" value="{{email}}" required>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" class="form-control" value="{{password}}" required>
        </div>
        <div class="form-group">
          <label for="password2">Conferma Password</label>
          <input type="password" name="password2" class="form-control" value="{{password2}}" required>
        </div>
        <button type="submit" id="submit" class="btn btn-primary">Conferma</button>
        <button  type="reset" id="reset" class="btn btn-danger">reset</button>
      </form>
    </div>
  </div>
</div>