  <!--mostro eventi trovati -->

<script></script>
<br/><br/>
<h4 style="text-align:center">Eventi trovati</h4>
<hr>
{{#each eventi_trovati}}
<div class="card">
  <img src={{immagine}} alt="Denim Jeans" style="width:100%">
  <h1>{{titolo}}</h1>
  <p class="categoria">categoria:{{categoria}}</p>
  <p>descrizione: {{descrizione}}</p>
    <a href="/eventi/show/{{id}}"  id = "more" class="btn btn-primary btn-block mb-2">Piu info..</a>
</div>
{{else}}
  <p>Nessun evento trovato</p>
{{/each}}


